POSTGRES_USER=priceowl
POSTGRES_PASSWORD=priceowl123
POSTGRES_DB=priceowl
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

TELEGRAM_TOKEN=

MERCADOLIBRE_CLIENT_ID=
MERCADOLIBRE_CLIENT_SECRET=
EBAY_APP_ID=
SCRAPERAPI_KEY=